############################
# Unreal Engine project
############################

# heavy marketplace assets
Content/Characters/Enemy
*/Paragon*/Characters/*
# Generated project files & IDE metadata
.vscode/
.vs/
*.sln
*.suo
*.VC.db
*.VC.opendb
*.opensdf
*.opendb
*.sdf
*.xcodeproj
*.xcworkspace

# Build / cache / runtime artifacts
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Optional: ignore any local plugins' build output
Plugins/*/Binaries/
Plugins/*/Intermediate/

############################
# OS / editor junk
############################

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# General backup / temp files
*.tmp
*.bak
*.swp
*.lock